<!DOCTYPE html>
<html>
<head>
  <title>Analysis</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body,h1 {font-family: "Raleway", Arial, sans-serif}
      h1 {letter-spacing: 3px}
    .w3-row-padding img {margin-bottom: 12px}
    #header{
  		     float:left;
  			   margin-left:100px;
		   }
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}
passport {
  width: 50%;
  border-radius: 50%;
}
</style>
</head>
<header class="w3-panel w3-center w3-opacity" style="padding:2px 16px">
    <a href="/" class="w3-bar-item w3-button"><b><h2>H1-B Visa Prediction Analysis</h2></b></a>
  </header>
<body class="w3-content" style="background-color:thistle;">
  <div class="row3" align="center">
    <div class="column3">
      <b><p>Here is the analysis of the attributes given by users..</p></b>
    <img src="static/analysis.png" width="500" height="500" ><br>
    </div>
    <br>
    <div class="column3">
    <b><p>Here is the analysis for the output of the h1b Visa users</p></b>
    <img src="static/target.png" width="400" height="200"><br>
    </div>
    </div>
</body>
</html>
