<!DOCTYPE html>
<html>
<head>
  <title>Contents</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <style>
    #header{
       float:left;
       margin-left:100px;
    }
    body{ 
	    background-image:url('static/passport.png');
      height: 100vh;
      background-size: cover;
      background-position: center;
      color : lightcyan;
    } 

  button {
    background-color:lime;
    color:maroon;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: auto;
  }
  </style>
  </head>
  <body class="w3-content" style="background-color: rgb(238, 126, 22);">
    <header class="w3-panel w3-center w3-opacity" style="padding:2px 16px">
      <a href="/" class="w3-bar-item w3-button"><b><h2>H1-B Visa Contents</h2></b></a>
        <div class="container signin" style = "background-color:red;">
            <form action="/process">
                <b><p>If you are new to the process, then cllick here for the full process</p></b>
                <button name="Click here" type="submit"><b>Click here</b></button>
            </form>
        </div>
        <div class="container signin" style = "background-color:rgb(54, 51, 253);">
            <form action="/analysis">
                <b><p>If you want to analyze the previous  results then the analysis results are here!</p></b>
                <button name="Analysis" type="submit"><b>Show Analysis</b></button>
            </form>
        </div>
        <div class="container signin" style = "background-color: rgb(226, 2, 140);">
            <form action="/index">
                <b><p>If you want to see your result, then register here!!</p></b>
                <button name="Register" type="submit"><b> Register </b></button>
            </form>
        </div>
        <div class="container signin" style = "background-color: orangered;">
          <form action="/suggestions">
              <b><p>If you want any suggestions... please click here!!</p></b>
              <button name="suggestions" type="submit"><b> Suggestions </b></button>
          </form>
      </div>
          </header>
  </body>
</html>
