<!DOCTYPE html>
<html>
<head>
  <title>process</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
    .w3-row-padding img {margin-bottom: 12px}
    #header{
  		     float:left;
  			   margin-left:100px;
		       }
    form {border: 3px solid #f1f1f1;}
    </style>
  </head>
  <header class = "w3-panel w3-center w3-opacity" style="padding:2px 16px">
    <a href="/" class="w3-bar-item w3-button"><b><h2><i>H1-B Visa Process</i></h2></b></a>

    <div class="imgcontainer">
        <img src="static/process.png" alt="Avatar" class="avatar">
      </div>
    </header>
  <body class = "w3-content" style="background-color:#8edfbd;">
    <div class="container signin" style = "background-color: limegreen;">
        <form action="/process">
            <center><p>please click on the link to see the process with full description </p>
              <a href = "https://www.path2usa.com/h1b-visa-guide">Click here</a>
        </form>
    </div>
  </body>
</html>